PORT=3001
MONGO_URI=Your MongoDB connection string here
JWT_SECRET=Your JWT secret here
JWT_REFRESH_SECRET=Your JWT refresh secret here
JWT_ACCESS_SECRET=Your JWT access secret here

BREVO_API_KEY=Your Brevo API key here
BREVO_FROM_EMAIL=Your Brevo from email here

# Redis
REDIS_HOST=Your Redis host here (default is 127.0.0.1)
REDIS_PORT=Your Redis port here (default is 6379)
NODE_ENV=Your Node environment here (development, production, etc.)